*.log
*.pot
*.pyc
*.pem
.DS_Store
.site-packages
edmarket/static/media
edmarket/search_idx_new
node_modules
.idea/workspace.xml
assets
.idea
*.gpickle
*.pkl
*.swp
*~
*venv*
.ropeproject
config
celerybeat.pid
.git
